@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <p class="lead">
        Bienvenido a la aplicación. Desde aquí podrá generar una factura electrónica para
        autorizar, y también consultar el historial de sus facturas hasta la fecha
    </p>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-primary">Nueva factura</button>
            @*<a href="#" class="btn btn-primary">Nueva factura</a>*@
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-primary">Historial de facturas</button>
            @*<a href="#" class="btn btn-primary">Historial de facturas</a>*@
        </div>
    </div>
</div>


