<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
    <authentication mode="Windows"/>
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->


  <!-- ServiceModel se copia a mano desde app.config del proyecto de Dominio al proyecto del web service -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="LoginCmsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="LoginCmsSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="FacturaElectronicaWS.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
        binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
        contract="LoginWS.LoginCMS" name="LoginCms" />
    </client>
  </system.serviceModel>
  
  
</configuration>
