<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestFacturaElectronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TestFacturaElectronicaDominio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- system.serviceModel: copiar a mano a web.config del proyecto del web service-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="LoginCmsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="LoginCmsSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="FacturaElectronicaWS.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
        binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
        contract="LoginWS.LoginCMS" name="LoginCms" />
    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <TestFacturaElectronica.Properties.Settings>
      <setting name="TestFacturaElectronicaDominio_Dominio_FacturaElectronicaWS_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="TestFacturaElectronicaDominio_Dominio_LoginWS_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
    </TestFacturaElectronica.Properties.Settings>
    <TestFacturaElectronicaDominio.Properties.Settings>
      <setting name="TestFacturaElectronicaDominio_LoginWS_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="TestFacturaElectronicaDominio_FacturaElectronicaWS_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
    </TestFacturaElectronicaDominio.Properties.Settings>
  </applicationSettings>
</configuration>
